.footer{
    max-width: 100vw;
    min-height: auto;
}
.heading-box{
    margin-bottom: 2rem;
}
.section-footer{
    justify-items: center;
    align-items: center;

}
.contact-container{

}
.number-box{
    margin-bottom: 1rem;
}
.number-box,
.email-box{
    align-items: center;
    gap: 2rem;
}
.number,
.email{
}
.copyright-text{
    align-self: end;
    color: rgba(51, 51, 51, 0.7);
}
.info-container{

}
.info{
    list-style: none;
}
.info-list .info:not(:nth-child(3)){
    margin-bottom: 1rem;
}