*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    font-size: 1.4rem;
    color: #333;
    font-family: "Bricolage Grotesque",sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 500;
    overflow-x: hidden;
    /* background-color: #546de5;
    background-color: #0F676F;
    background-color: #0984e3; */
}
main{
    flex:1;
}
.flex{
    display: flex;
}
.dir-col{
    flex-direction: column;
}
.grid{
    display: grid;
}
.grid-2-cols{
    grid-template-columns: repeat(2,1fr);
}
.grid-3-cols{
    grid-template-columns: repeat(3,1fr);
}
.grid-4-cols{
    grid-template-columns: repeat(4,1fr);
}
.grid-4-rows{
    grid-template-rows:repeat(4,1fr)
}
.heading-primary{

}
.heading-secondary{
    line-height: 6.5rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
    font-size: 7.4rem;
}
.heading-tertiary{
    font-weight: 600;
    font-size: 3rem;
    text-wrap: nowrap;
    width: fit-content;
}
.tiny-text{
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(51, 51, 51, 0.5);
}
.error-msg{
    color: red;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.center{
    margin: 0 auto;
}