/* STEPS SECTION */
.steps-section{
    margin-bottom: 20rem;
    width: 100vw;
    min-height: auto;
    background-color: aqua;
}
.heading-box-steps{
    justify-content: center;
    align-items: center;
    width: 140rem;
    padding: 0 2rem;
}
.steps-box{
    justify-items:center;
    align-items:center;
}
.steps{
    width: 100vw;
    min-height: auto;
    padding: 0 2rem;
    margin-bottom: 5rem;
}
.one{
    background-color: rgba(0, 0, 0, 0.1);
}
.two{
    background-color: rgba(0, 0, 0, 0.3);
}
.three{
    background-color: rgba(0,0,0,0.6);
    color:#fff;
}
.four{
    background-color:rgba(0,0,0,0.9);
    color:#fff;
}
.step{
    width: 70rem;
    justify-content: center;
    align-items: center;
    gap:5rem;
}
.step-nbr{
    font-size: 22rem;
}
.step-text{
    text-wrap: wrap;
    font-size: 2rem;
}

/* VIDEO SECTION */
.video-section{
    margin-bottom: 20rem;
    width: 100vw;
    min-height: auto;
    background-color: rgb(255, 255, 188);
}
.video-container{
    width: 140rem;
    padding:5rem 2rem;
} 
.video{
    border-radius: 2rem;
    box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.5);
}
/* FOOTER */
.footer{
    width: 140rem;
    min-height: auto;
    padding-bottom: 1rem;
}
.heading-box-footer{
    margin-bottom: 1rem;
}
.section-footer{
    justify-items: center;
    align-items: center;

}
.contact-container div:not(:last-child,:first-child){
    margin-bottom:1rem;
}
.number-box,
.email-box,
.social-box{
    align-items: center;
    gap: 2rem;
}
.copyright-text{
    align-self: end;
    color: rgba(51, 51, 51, 0.7);
}
.info-container{
    gap:4rem
}
.info{
    list-style: none;
}
.info-list .info:not(:last-child){
    margin-bottom: 1rem;
}