@media (prefers-reduced-motion: reduce) {
    .cta-bg {
        animation: none;
    }
}
/* 1585px */
@media(max-width:99em){
    /* HEAD */
    .header-footprints{
        min-height: 40%;
    }
    /* FUNCTIONALITY */
    /* VALUES */
    .values{
        display: flex;
        flex-direction:column-reverse;
        gap:6rem;
    }
    /* FAQ */
    .question-nbr.spaceBottom{
        margin-bottom: 15rem;
    }
    /* CTA */
    .heading-secondary#cta-heading{
        font-size: 8rem;
    }
}
/* 1231px */
@media(max-width:77em){
    /* HEAD */
    .header-section{
        min-height: auto;
    }
    .heading-primary{
        font-size: 14rem;
        line-height: 14rem;
    }
    .catchphrase{
        color: #0984e3;
        font-size: 2.4rem;
        font-weight: 700;
    }
    .header-footprints{
        min-height: 30%;
    }
    /* PARTNERS */
    .partners-container{
        margin: var(--section-spacing);
    }
    /* ABOUT */
    .about-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 6rem;
        margin: 0 auto;
    }
    /* ENLARGING IMAGE */
    .placeholder#about-img{
        width: 60rem;
        height: 60rem;
    }
    /* VALUES */
    /* FUNCTIONALITY */
    .func-container{
        display: flex;
        flex-direction: column;
    }
    .func-images{
        display: none;
        width: 0;
        height: 0;
    }
    .func-nbr.spaceBottom{
        margin-bottom: 52rem;
    }
    .dropdownImg{
        display: block;
    }
    /* FAQ */
    .faq-container{
        min-height: 100rem;
    }
    .question-nbr.spaceBottom{
        margin-bottom:18rem;
    }
    /* CTA */
    .heading-secondary#cta-heading{
        font-size: 6rem;
        text-align: center;
    }
}
/* 920px */
@media(max-width:57.5em){
    /* NAVIGATION */
    .header-section{
        padding-top: 0;
    }
    .navigation-container{
        padding: 0;
        margin: 0;
        position: relative;
    }
    .navigation{
        z-index: 9999;
        width: 100vw;
        top: 0;
        position: absolute;
        transition: 0.6s;
        background:transparent;
        padding: 2rem 2rem 0 2rem;
        height: 50vh;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 0;
    }
    .backgroundToWhite{
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px); 
    }
    .logo-container{
        justify-self: start;
        transform: translateY(1rem);
    }
    /* MOBILE NAVIGATION */
    .left-links{
        align-self:center;
        padding-top: 4rem;
        transition: 0.6s;
        transform: translateY(-60rem);
    }
    .moveLinksDown{
        transform: translateY(0rem);
    }
    .nav-links{
        justify-content: center;
        align-items: center;
    }
    #left-links{
        flex-direction: column;
    }
    #left-links .btn-link{
        font-size: 2.6rem;
    }
    .mobile-cta-container{
        justify-items: center;
        margin-top: 1rem;
    }
    .mobile-cta{
        list-style: none;
        gap: 4rem;
        justify-items: center;
        align-items: center;
    }
    .btn-link#mobile-cta{
        margin:0;
    }
    .btn-link#mobile-login{
        background-color: none;
        padding: 0.3em;
        box-shadow:  #0984e3 0px 0px 0px 2px;
        border-radius: 1rem;
        transition: 0.5s;
    }
    .btn-link#mobile-login:hover,
    .btn-link#mobile-login:active{
        color: #0984e3;
    }
    .heading-box{
        padding-top: 15rem;
    }
    /* FOOTPRINTS */
    .footprints{
        display: none;
    }
    /* CTA */
    .heading-secondary#cta-heading{
        font-weight:600;
        font-size: 6rem;
        text-align: center;
    }
    .cta#footer-cta{
        font-size:2.5rem;
    }
}
/* 622px */
@media(max-width:41em){
    /* MOBIE NAVIGATION */
    .navigation{
        grid-template-columns: repeat(2,1fr);
    }
    .logo-container{
        grid-row: 1;
        grid-column: 1;
    }
    #right-links{
        display: none;
    }
    .right-links{
        justify-self: end;
        grid-row: 1;
        grid-column: 2;
    }
    .left-links{
        grid-row: 1;
        grid-column: 1/3;
    }
}
