/* NAVIGATION */
.test{
    width: 150vw;
    height: 200vh;
    background: radial-gradient(circle, #3498db,#fff ,#fff);
    position: fixed;
    top: -130rem;
    left: -70rem;
    z-index: -1;
}
.header-section{
    position: relative;
    max-width: 100vw;
    height: auto;
    padding: 0 1rem;
}
.section-navigation{
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
    overflow-x: hidden;
    
    margin: 5rem auto 20rem auto;
    max-width:180rem;
    padding: 0 2rem;
    
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 5rem;
}
.left-container{
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.logo{
    width: 25rem;
    min-height: auto;
}
.nav-links{
    list-style: none;
    gap: 2rem;
    text-wrap: nowrap;
}
.nav-link{
    font-size: 1.8rem;
    color: #333;
    text-decoration: none;
}

/* FUNCTIONALITY */
.functionality-section{
    width: 100vw;
    height: auto;
}
.func-container{
    max-width: 180rem;
    margin:20rem auto;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
}
.hint{
    color: rgba(51, 51, 51, 0.5);
    margin-top: 2rem;
}
.hint-text{
    font-size: 1.6rem;
}
.functions{
    padding:0 2rem ;
    max-width: 100rem;
    min-height: auto;
    gap: 4rem;
}
.funcion{
    border-width: 0 0 3px 0;
    border-style:solid ;
    border-color: rgba(51, 51, 51, 0.3);
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    border-radius:1rem ;
}
.function-name{
    gap: 2rem;
    align-items: center;
}
.func-icon-box{
    justify-content: center;
    align-items: center;
}
.func-icon{
    fill:rgba(9, 133, 227, 1);;
    width: 2.8rem;
    min-width:auto;
}
.name-text{
    font-size: 1.8rem;
}
.func-image{
    align-self: end;
    max-width: 100%;
    min-height: auto;
}
/* VALUES */
.values-section {
    max-width: 100vw;
    min-height: auto;
}
.values-container{
    max-width: 180rem;
    margin:20rem auto;
    
}
.section-heading{
    padding: 0 2rem;
    justify-content: center;
    margin-bottom:10rem ;
}
.section-title{
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: rgba(73, 53, 220, 0.5);
    gap: 0.7rem;
    align-items: center;
    margin-bottom: 2rem;
}
.icon-box{
    width: 2.3rem;
    height: 2.3rem;
}

.title{
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;

}
.values{
    justify-items: center;
    align-items: center;
    column-gap: 2rem;
    padding: 1rem;
}
.about-value{
    max-width: 50rem;
    margin-bottom: 4rem;
}
.about-value h3{
    margin-bottom: 1rem;
}
.icon{
    justify-content: center;
    align-items: center;
    max-width: 5.2rem;
    min-height: 5.2rem;
    background-color: rgba(9, 133, 227, 0.2);
    padding: 0.5rem;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
}
.values-icon{
    max-width: 3.3rem;
    min-height: auto;
}
.value-text{
    text-wrap: wrap;
    width: 100%;
}
.placeholder{  
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);  
    width: 50rem;
    min-height: 50rem;
    border-radius: 2rem;
    background-color: #333;
}
/* FAQ  */
.faq-section{
    max-width: 100vw;
    min-height: auto;
}
.faq-container{
    max-width: 160rem;
    margin: 20rem auto;
}
.questions{
    gap: 4rem;
}
.question{
    margin: 0 2rem;
    border-radius: 2rem;
    background-color: rgba(153, 153, 153, 0.1);
    padding: 3rem 2rem;
    justify-content: space-between;
    align-items: center;
}
.question-text{
    max-width: 100%;
    font-size: 1.8rem;
}
.plus-icon{
    margin-left: 1rem;
    width: 3.3rem;
    height: auto;
}
/* FOOTER */
.footer-section{
    max-width: 100vw;
    min-height: auto;
    background:linear-gradient(#fff,rgba(9, 133, 227, 0.60));
}
.footer-container{
    padding: 10rem 2rem 0 2rem;
    max-width: 70rem;
    margin: 20rem auto 10rem auto;
    gap: 5rem;

    justify-content: center;
    align-items: center;
}
.page-links{
    width: 100%;
}
.links-list{
    list-style: none;
    justify-content: space-between;
    gap: 1rem;
}
.social-links{
    width: 30%;
}
.social{
    justify-content: space-between;
}
.social-icon{
    width: 3.3rem;
    height: auto;
}
.footer-link{
    color: #333;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
}
.copyright{
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}
.copyright small{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-transform: uppercase;
}
