@media (prefers-reduced-motion: reduce) {
    .cta-bg {
        animation: none;
    }
}
/* 1585px */
@media(max-width:99em){
    /* HEAD */
    .header-footprints{
        min-height: 40%;
    }
}
/* 1231px */
@media(max-width:77em){
    /* HEAD */
    .header-section{
        min-height: auto;
    }
    .heading-primary{
        font-size: 14rem;
        line-height: 14rem;
    }
    .catchphrase{
        color: var(--main-color);
        font-size: 2.4rem;
        font-weight: 700;
    }
    .header-footprints{
        min-height: 30%;
    }
}
/* 920px */
@media(max-width:57.5em){
    /* NAVIGATION */
    .header-section{
        padding-top: 0;
    }
    .navigation-container{
        padding: 0;
        margin: 0;
        position: relative;
    }
    .navigation{
        z-index: 9999;
        width: 100vw;
        top: 0;
        position: absolute;
        transition: 0.6s;
        background:transparent;
        padding: 2rem 2rem 0 2rem;
        height: 50vh;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 0;
    }
    .backgroundToWhite{
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px); 
    }
    .logo-container{
        justify-self: start;
        transform: translateY(1rem);
    }
    /* MOBILE NAVIGATION */
    .left-links{
        align-self:center;
        padding-top: 4rem;
        transition: 0.6s;
        transform: translateY(-60rem);
    }
    .moveLinksDown{
        transform: translateY(0rem);
    }
    .nav-links{
        justify-content: center;
        align-items: center;
    }
    #left-links{
        flex-direction: column;
        margin-bottom: 2rem;
    }
    #left-links .btn-link{
        font-size: 2.6rem;
    }
    .mobile-cta-container{
        text-align: center;
        margin-top: 1rem;
    }
    .mobile-cta{
        list-style: none;
        gap: 3.5rem;
        justify-items: center;
        align-items: center;
    }
    .mobile-cta-links{
        margin:0;
    }
    .mobile-cta-links{
        background-color: none;
        padding: 0.3em;
        color:#333;
        font-size: 2.4rem;
        text-decoration: none;
        border-radius: 1rem;
        transition: 0.5s;
    }
    .mobile-cta-links:hover,
    .mobile-cta-links:active{
        color: var(--main-color);
    }
    #mobile-cta{
        margin-right: 0;
        background-color: var(--main-color);
        color: #fff;
    }
    #mobile-cta:hover,
    #mobile-cta:active{
        background:transparent ;
        color: var(--main-color);
        box-shadow:  #0984e3 0px 0px 0px 2px;
    }
    .heading-box{
        padding-top: 15rem;
    }
}

/* 622px */
@media(max-width:41em){
    /* MOBILE NAVIGATION */
    .navigation{
        grid-template-columns: repeat(2,1fr);
    }
    .logo-container{
        grid-row: 1;
        grid-column: 1;
    }
    #right-links{
        display: none;
    }
    .right-links{
        justify-self: end;
        grid-row: 1;
        grid-column: 2;
    }
    .left-links{
        grid-row: 1;
        grid-column: 1/3;
    }

}
/* 500px */
@media(max-width:32em){
    /* FOOTER */
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
    .links-list{
        flex-direction: column;
    }
    .page-links{
        width: fit-content;
        justify-self: center;
    }
    .social{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
    .social-links{
        justify-self: center;
    }


}