body{
    background-color:var(--main-tint );
}
/* LOGIN FORM */
.logo-container{
    justify-self: center;
    align-self: center;
    max-width: fit-content;
    min-height: fit-content;
}
.logo{
    max-width: 30rem;
    min-height:fit-content;
}
.form-container{
    width: 180rem;
    margin: var(--section-spacing);
}
.form-content{
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 20px 2px;
    background-color: #fff;
    width: 60%;
    padding: 6rem;
    gap: 5rem;
    justify-self: start;
}
#form-heading{
    color: #0984e3;
    font-size: 4rem;
    letter-spacing: 0.3rem;
}
.email-box,
.password-box{
    gap: 0.5rem;
    margin-bottom: 4rem;
}
.email-input,
.password-input{
    padding: 0 0.5rem ;
    color: #333;
    font-size: 1.8rem;
    height: 4rem;
    border: solid 1px #0984e3;
    border-radius: 0.3rem;
}
.form-btn{
    width: 10rem;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    padding: 0.5em;
    border-radius: 1rem;
    font-weight: 600;
    text-align: center;
    align-self:center;
    border: none;

    transition: all 600ms;
    background-color: var(--main-color);
    color: #fff;
}
.form-btn:hover,
.form-btn:active{
    background-color:#fff;
    box-shadow: inset #0984e3 0px 0px 0px 2px ;
    color: var(--main-color);
}
/* FOOTER */
.footer-container{
    padding: 10rem 2rem 0 2rem;
    max-width: 70rem;
    margin: 0 auto ;
    gap: 5rem;

    justify-content: center;
    align-items: center;
}
.page-links{
    width: 100%;
}
.links-list{
    list-style: none;
    justify-content: space-between;
    gap: 1rem;
}
.social-links{
    width: 30%;
}
.social{
    justify-content: space-between;

}
.social-icon{
    width: 3.3rem;
    height: auto;
}
.footer-link{
    color: #333;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
}
.copyright{
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}
.copyright small{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-transform: uppercase;
}
.footer-logo{
    display: none;
}